						 .background-pattern-1 {
							 background-color: #fff;
							 background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23008080' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
							 color: #008080;
							 padding-top: 30px;
							 padding-bottom: 5px;
							 padding-left: 180px;
							 padding-right: 180px;
							 margin-left: -150px;
							 margin-right: -150px;
						 }
/*::::::::::::::::::::::::::::::::::::::::::::BANNER IMAGE::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#header-image {
	background-image: url("images/cloud_background.jpg");
	background-color: black;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

/*::::::::::::::::::::::::::::::::::::::::::::IMAGE LINK SECTION::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (max-width: 765px) {
	.link {
		margin-left: 0 !important;
		margin-bottom: 2vw;
	}
	.gallery {
		margin-right: 0 !important;
	}
}

.link {
	width: 35vw;
	height: auto;
	margin-left: 5vw;
}
.gallery {
	width: 35vw;
	height: auto;
	margin-right: 5vw;
}

/*::::::::::::::::::::::::::::::::::::::::::::SIGN-IN SECTION:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.background-pattern-1 {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23008080' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
	color: #008080;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 180px;
	padding-right: 180px;
	margin-left: -150px;
	margin-right: -150px;
}

.h2-center {
	text-align: center;
}

.b-submit-signin {
	background-color: #008080;
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
}

.b-submit-reset {
	background-color: #C71585;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}
/*::::::::::::::::::::::::::::::::::::::::::::SIGN-OUT SECTION:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.b-submit-signup {
	background-color: #008080;
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
}

.b-submit-reset {
	background-color: #C71585;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.small-header-image {
	height: 12vh;
	background-color: #282828;
	padding: 0;
	padding-top: 2vh;
	margin-bottom: 0;
}

.logo {
	height: 5rem;
}

.navbar{
	padding-left: 6vw;
}

.dropleft {
	margin-top: 3px;
}

#dropdown-button-drop-left {
	background-color: grey;
}

.nav-item a:hover {
	background-color: darkgrey;
}

