.background-pattern-1 {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23008080' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
	color: #008080;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 180px;
	padding-right: 180px;
	margin-left: -150px;
	margin-right: -150px;
						 }
/*::::::::::::::::::::::::::::::::::::::::::::BANNER IMAGE::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (min-width: 588px) {
	#header-image {
		background-image: url("images/streetsign1.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

@media (max-width: 587px) {
	#header-image {
		background-image: url("images/1.png");
		background-color: black;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		margin: 0 auto;
	}
}

/*::::::::::::::::::::::::::::::::::::::::::::IMAGE LINK SECTION::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (max-width: 765px) {
	.map-link {
		margin-bottom: 2vw;
	}
	.gallery {
	}
}

.map-link {
	width: 100%;
	height: auto;

}
.gallery {
	width: 100%;
	height: auto;
}

.box {
	position: relative;
	width: 50%;
}

.map-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #E0BB09;
	margin-right: -5px;
	}

.gallery-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #E0BB09;
}

.box:hover .overlay {
	opacity: 1;
}

.text:hover {
	opacity: 1;
}

.text {
	color: black;
	font-size: 50px;
	font-family: "Arial Black";
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
/*::::::::::::::::::::::::::::::::::::::::::::SIGN-IN SECTION:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.background-pattern-1 {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23008080' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
	color: #1D1D1D;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 180px;
	padding-right: 180px;
	margin-left: -150px;
	margin-right: -150px;
}

.h2-center {
	text-align: center;
}

.b-submit-signin {
	background-color: rgba(224, 214, 44, 0.97);
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #1D1D1D;
}

.b-submit-reset {
	background-color: rgba(249, 0, 0, 0.64);
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #000 !important;
}
/*::::::::::::::::::::::::::::::::::::::::::::SIGN-OUT SECTION:::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.b-submit-signup {
	background-color: rgba(224, 214, 44, 0.97);
	margin: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #1D1D1D;
}



.small-header-image {
	height: 12vh;
	background-color: #282828;
	padding: 0;
	padding-top: 2vh;
	margin-bottom: 0;
}

.logo {
	height: 5rem;
}

.navbar{
	padding-left: 6vw;
}

.dropleft {
	margin-top: 3px;
}

#dropdown-button-drop-left {
	background-color: grey;
}

.nav-item a:hover {
	background-color: darkgrey;
}

